{% extends 'base.html' %}
{% load static %}

{% block custom_scripts %}
    <script src="{% static 'js/search_book.js' %}"></script>
{% endblock %}

{% block title %}Books{% endblock title %}

{% block content %}
	
	<div id="title">Books Search</div>

	<div class="container">

	    <div class="row">
            <div class="col">	
            	<input type="text" class="form-control" id="searchbook" placeholder="Type the title or author">
		    </div>
	    </div>
    
		<div class="row">
            <div class="col">
                <table class="table table-hover" id="table2">
                </table>
            </div>
        </div>	
	</div>
{% endblock %}