{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

<div id="title">About Me</div>

<div class="wrapper">
	<ul class="accordion child">
		<li class='acc-list'>
			<a class="panels" href="#">Activities</a>
			<ul class="content">
				<p>Eat</p>
			    <p>Sleep</p>
			    <p>Watching movies</p>
			</ul>
		</li>

		<li class='acc-list'>
			<a class="panels" href="#">Experiences</a>
			<ul class="content">
				<p>Staff of Entrepreneurial Division - DPM Fasilkom UI 2019</p>
				<p>Staff of Public Relations - SIWAK-NG 2019</p>
				<p>Staff of Public Relations - Wisuda Genap Fasilkom UI 2019</p>
			</ul>
		</li>

		<li class='acc-list'>
			<a class="panels" href="#">Achievements</a>
			<ul class="content">
			    <p>Soon</p>
			</ul>
		</li>
    </ul>
</div>

{% endblock %}