{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="#" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700i,900i&display=swap" rel="stylesheet"> 

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 


    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <script src="{% static 'js/accordion.js' %}"></script>
    {% block custom_scripts %}
    {% endblock %}
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-0">
        <a class="navbar-brand header-title" href="#">Salsabila Adnan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
             
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'story9:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'landingpage:index' %}">Status<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'landingpage:about' %}">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active header-subtitle">
                    <a class="nav-link" href="{% url 'story8:books' %}">Books<span class="sr-only">(current)</span></a>
                </li>           
            </ul>
        </div>    
    </nav>

    <br>
    <br>

    <div class="wrapper">
        <button onclick="lightMode()" id="light">Light Mode</button>
        <button onclick="darkMode()" id="dark">Dark Mode</button>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>