{% extends 'base.html' %}
{% load static %}

{% block title %}Halo{% endblock title %}

{% block content %}
	
	<div id="title">Halo, Apa Kabar?</div>

	<div class="container">
		<div class="row justify-content-center">
			<form id="form" method="POST" action="{% url 'landingpage:add_status' %}">	
				<center>
					<br>
					{% csrf_token %}
					{{ status_form.status}}
					<br>
					<button id="submit-btn" class="button" type="submit" class="btn btn-info">Add Status</button>
				</center>
			</form>
		</div>

		<hr>
		
		<div class="row">
			{% if status %}
				{% for data in status %}
				<div class="col-sm-3">
					<div id="card" class="card mb-3">
					    <div class="card-body">{{ data.status }}</div> 
					    <footer class="blockquote-fo boter"><cite title="Source Title">{{ data.status_time }}</cite></footer>
					</div>
				</div>
				{% endfor %}
	        {% endif %}
		</div>
	</div>
{% endblock %}