body{
	background-color: #313131;
	font-family: 'Roboto', sans-serif;
  	color: #F0ECE2;
}

#title{
	text-align: center;
	font-size: 5vw;
	opacity: 0.6;
}

.wrapper{
	text-align: center;
}

hr{
	border: 1px solid grey;
}

.form-control{
	background: #f6e9e9;	
}

button{
	border-radius: 4px;
}

.card{
	background: #4d4545;
}

footer{
	text-align: right;
}

ul .content{
  overflow: hidden;
  display: none;
  list-style-type: disc;
  background-color: #393232;
  border-radius: 20px;
  opacity: 0.8; 
  font-weight: bold;
}

.child {
  list-style-type: none;
}

li a.panels {
	opacity: 0.8;
	text-align: center;
  	margin: .5em 0;
  	width: 100%;
	display: block;
	background: #525252;
	color: #f0ece2;
	padding: .75em;
	border-radius:20px;
	font-weight: bolder;
	font-size: 19px;
}

.acc-list a:hover {
	text-decoration: none;
	margin: .5em 0;
	background: #7A6660;
	color: black;
}

#table2 {
	text-align: center;
	padding: 3%;
	margin-top: 3%;
	background-color: #f6e9e9;
}
