{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
	
	<div id="title">Login</div>

	<div class="container">
	    
		<form id = "input-form" method="POST">
			<center>
				{% csrf_token %}

				<label for="username">Username: </label>
		        <input  type="text" name="username" id="username">
		        <br>
		        <label for="password">Password: </label>
		        <input type="password" name="password" id="password">
		        <br>

		        <button class="btn btn-dark " type="submit" id="submit-but">Login</button>
			</center>    
		</form>

	</div>


	</div>

{% endblock %}