{% extends 'base.html' %}
{% load static %}

{% block title %}Logout{% endblock title %}

{% block content %}
	
	<div id="title">Logout</div>

	<div class="container">
		<center>
			<h1> Are you sure want to logout, {{user}}?</h1>
			
			<form  method="POST">
				{% csrf_token %}

			    <input class="btn btn-dark btn-block " value="Yes" type="submit" name="logout" id="logout-yes">

			    <input class="btn btn-dark btn-block " value="No" type="submit" name="logout">
			    
			</form>
		</center>
		
	</div>

	</div>

{% endblock %}