{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block content %}
	
	<div id="title">Welcome {{user}}</div>

	<div class="container">
		<center>
			<h3>
		        This website is served by:  <br>
		        HOST: {{ host }}            <br>
		        PORT: {{ port }}            
	    	</h3>
			<br>	    	
		</center>

		<a class="btn btn-dark btn-block " href="{% url 'story9:logout' %}" id="logout-but">Logout</a>
	</div>

{% endblock %}