{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block content %}
	
	<div id="title">Welcome</div>

	<div class="container">
		<center>
			<h3>
		        This website is served by:  <br>
		        HOST: {{ host }}            <br>
		        PORT: {{ port }}            
	    	</h3>
	    	<br>
		</center>

		<a class="btn btn-dark btn-block " href="{% url 'story9:login' %}" id="login-but">Login</a>		
{% endblock %}